fastapi
uvicorn
sqlalchemy
psycopg2-binary
pydantic
pydantic-extra-types
python-jose[cryptography]
PyJWT
python-multipart
bcrypt
passlib
email-validator
python-dotenv
pandas
numpy
scikit-learn
openai
requests
stripe
pyyaml
psutil
httpx
